.my-button { 
    display: inline-flex; 
    flex-flow: row nowrap; 
    align-items: center; 
    justify-content: space-between; 
}

.navbar-brand
{
  font-weight: 700;
}

.my-card{
    padding-left: 1rem;
}

.footer-svg{
    z-index: -1;
}

.userForms{
    max-width: 40% !important;
}

.register{
    font-weight: 600;
    color: #F46B5D;
    text-align: center;
}

.my-card-img{
    border-radius: 50% !important;
    max-width: 200px !important;
    padding-left: 1rem;
}

.profile-name{
    color: #F46B5D;
}

.profile-text{
    font-weight: 600;
    color: #F46B5D;
}

.custom-btn {
    border-color: #F46B5D !important;
    color: #F46B5D !important;
    width: 350px;
}

.back-arrow{
    border: none;
    color: #FEDED2;
    background-color: white !important;
}

.custom-btn:hover {
    color: white !important;
    background-color: #F46B5D !important;
}

.back-arrow:hover{
    color: #F46B5D !important;
}

.login-btn{
    width: 350px;
    border: none;
    background-color: #FFF1EC !important;
    color: rgb(67, 66, 66) !important;
}

.login-btn:hover{
    border: none;
    background-color: #FEDED2 !important;
}

